[Unit]
Description=Servidor Streamlit
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/streamlit/python/streamlit/
User=streamlit
ExecStart=/bin/bash -c 'source /home/streamlit/python/streamlit/.venv/bin/activate && streamlit run /home/streamlit/python/streamlit/app.py'

[Install]
WantedBy=multi-user.target